.tiny-tears-box {
  top: 70%;
  left: 44%;
  width: 50%;
  min-width: 100px;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.little-tears-box {
  top: 74%;
  left: 44%;
  width: 50%;
  min-width: 100px;
  position: absolute;
  transition: 1s;
  cursor: pointer;
}

.big-tears-box {
  
  
  
  position: absolute;
  transition: 3s;
  cursor: pointer;
  z-index: 9;
}

.tiny-tears-box svg path {
  d: path(
    "M108.996967,35.2473246 C205.851563,144.431641 237.514545,16.5070903 295.417969,21.1640625 C353.321393,25.8210347 332.558594,133.15625 256.667969,173.117188 C180.777344,213.078125 98.3851014,226.619507 32.2890625,165 C-33.8069764,103.380493 12.1423708,-73.9369913 108.996967,35.2473246 Z"
  );
}

.little-tears-box svg path {
  d: path(
    "M189.125,137.234375 C247.874407,155.59343 228.496706,-37.8069218 293.043479,7.91867777 C357.590251,53.6442773 345.626557,98.6862088 282.898438,144.070312 C220.170318,189.454416 77.9792071,234.709844 14.1249716,189.474845 C-49.729264,144.239846 130.375593,118.87532 189.125,137.234375 Z"
  );
}

.big-tears-box svg path {
  d: path(
    "M78.21875,10.1640625 C152.816406,-15.9726562 177.148438,26.09375 276.859375,15.5507812 C376.570312,5.0078125 341.074219,131.97815 269.382812,171.753906 C197.691406,211.529663 102.385101,215.619507 36.2890625,154 C-29.8069764,92.3804934 3.62109375,36.3007812 78.21875,10.1640625 Z"
  );
}

.tiny-trains-box {
  left: 58%;
  width: 38%;
  position: absolute;
  top: 50%;
  right: 60%;
  transition: 1.8s;
  cursor: pointer;
}

.little-trains-box {
  left: 58%;
  width: 40%;
  position: absolute;
  top: 50%;
  right: 60%;
  transition: 1.8s;
  cursor: pointer;
}

.big-trains-box {
  left: 38%;
  width: 59%;
  position: absolute;
  top: 50%;
  right: 60%;
  transition: 1.8s;
  cursor: pointer;
}

.tiny-trains-box svg path {
  d: path(
    "M9.59765625,34.3399028 C23.3496094,22.5700166 20.6953125,33.5136719 38.03125,38.2617188 C55.3671875,43.0097656 29.0214844,26.6894531 35.3691406,15.4199219 C41.7167969,4.15039063 45.6484375,1.23828125 63.1269531,1.23828125 C80.6054687,1.23828125 86.6171875,26.0332031 100.802734,20.7695313 C114.988281,15.5058594 134.923828,-9.82226562 145.734375,5.83789063 C156.544922,21.4980469 160.277344,34.0488281 150.464844,45.2441406 C140.652344,56.4394531 127.015625,40.2773437 122.591797,45.2441406 C118.167969,50.2109375 129.261719,60.8574219 118.167969,63.6582031 C107.074219,66.4589844 106.095703,53.4707031 84.6113281,63.6582031 C63.1269531,73.8457031 47.5175781,64.171875 35.3691406,60.8574219 C23.2207031,57.5429688 18.2734375,73.8457031 9.59765625,68.7519531 C0.921875,63.6582031 -4.15429688,46.1097891 9.59765625,34.3399028 Z"
  );
}

.little-trains-box svg path {
  d: path(
    "M9.07421875,13.5859375 C19.5976562,4.078125 29.0820312,1.48242187 34.9355469,8.83789063 C40.7890625,16.1933594 26.9388008,21.5988694 34.9355469,25.59375 C42.9322929,29.5886306 48.1542969,18.7148438 65.6328125,18.7148438 C83.1113281,18.7148438 80.6172531,35.1386719 101.205078,18.7148438 C121.792903,2.29101563 137.923828,-6.82226563 148.734375,8.83789063 C159.544922,24.4980469 137.3125,17.7046357 141.806641,31.7539062 C146.300781,45.8031768 157.835937,45.8031768 157.835937,55.8183594 C157.835937,65.8335419 148.734375,75 132.179688,71.7519531 C115.625,68.5039062 119.958008,60.5117187 97.7910156,60.5117187 C75.6240234,60.5117187 65.6328125,75 45.6152344,66.6582031 C25.5976563,58.3164062 28.1054688,75 12.5976563,71.7519531 C-2.91015625,68.5039062 -1.44921875,23.09375 9.07421875,13.5859375 Z"
  );
}

.big-trains-box svg path {
  d: path(
    "M4.28125,35.5589487 C-1.03515625,22.0710225 -1.03515625,7.83789062 16.3007813,12.5859375 C33.6367187,17.3339844 32.75,17.3339844 35.3691406,12.5859375 C37.9882812,7.83789062 45.6484375,3.23828125 63.1269531,3.23828125 C80.6054687,3.23828125 80.6054687,17.8496094 94.7910156,12.5859375 C108.976563,7.32226562 134.923828,-7.82226563 145.734375,7.83789063 C156.544922,23.4980469 147.044922,24.6796875 151.794922,40.2617187 C156.544922,55.84375 140.953125,50.7382812 145.734375,59.84375 C150.515625,68.9492188 145.734375,74 129.179687,70.7519531 C112.625,67.5039062 106.095703,55.4707031 84.6113281,65.6582031 C63.1269531,75.8457031 47.5175781,66.171875 35.3691406,62.8574219 C23.2207031,59.5429687 18.2734375,75.8457031 9.59765625,70.7519531 C0.921875,65.6582031 9.59765625,49.046875 4.28125,35.5589487 Z"
  );
}
