.tiny-butts-box {
  position: absolute;
  left: 5%;
  width: 36%;
  top: 72%;
  transition: 1.8s;
  cursor: pointer;
}
.little-butts-box {
  position: absolute;
  left: 5%;
  width: 36%;
  top: 72%;
  transition: 1.8s;
  cursor: pointer;
}

.big-butts-box {
  position: absolute;
  left: 5%;
  width: 36%;
  top: 72%;
  transition: 1.8s;
  cursor: pointer;
}

.tiny-butts-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}

.little-butts-box svg path {
  d: path(
    "M30.5851863,2.18477786 C10.9553049,-5.57687345 -16.2768257,24.7763658 15.5791687,52.6525177 C47.4351631,80.5286696 71.2208542,106.324015 118.326592,100.048929 C165.432329,93.7738439 194,45.5983262 194,28.8845863 C194,12.1708463 165.691148,2.18477786 150.558656,2.18477786 C135.426164,2.18477786 141.137725,23.2956773 127.72079,28.8845863 C114.303854,34.4734953 115.374212,6.17678366 82.7946397,28.8845863 C50.2150677,51.5923889 50.2150677,9.94642918 30.5851863,2.18477786 Z"
  );
}

.big-butts-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}

.tiny-plants-box {
  position: absolute;
  left: 44%;
  width: 48%;
  top: 15%;
  transition: 1.8s;
  cursor: pointer;
}

.little-plants-box {
  position: absolute;
  left: 44%;
  width: 48%;
  top: 15%;
  transition: 1.8s;
  cursor: pointer;
}

.big-plants-box {
  position: absolute;
  left: 44%;
  width: 48%;
  top: 15%;
  transition: 1.8s;
  cursor: pointer;
}

.tiny-plants-box svg path {
  d: path(
    "M6.260363,7.71196518 C2.75307666,14.1107117 -3.57752762,36.5376237 6.260363,41.2445353 C16.0982536,45.9514468 2.08007812,89.3909679 14.4492187,99.1780773 C26.8183594,108.965187 33.0859375,76.1175304 49.6699219,76.1175304 C66.2539062,76.1175304 54.8769531,95.7386242 84.0683594,104.726905 C113.259766,113.715187 127.539062,101.271827 135.224609,87.4944835 C143.18933,73.2166852 122.179687,63.0700455 130.425781,51.9534679 C138.671875,40.8368903 155.820312,44.2225415 155.820312,30.4964367 C155.820312,16.7703318 123.140625,25.189796 114.890625,11.3108898 C108.500609,0.561019178 100.480469,12.1078353 84.0683594,7.71196518 C67.65625,3.31609501 66.4296789,17.587153 59.2382813,15.280983 C47.5369058,11.528533 51.5058594,10.5759049 34.2617188,4.38059239 C17.0175781,-1.81472011 9.81793254,1.22148122 6.260363,7.71196518 Z"
  );
}

.little-plants-box svg path {
  d: path(
    "M1.30664062,16.3580361 C-2.20064572,22.7567826 8.92081373,23.1910049 25.5597937,24.9035779 C42.1987736,26.6161509 38.8492219,32.6877384 53.0566406,36.75 C67.2640593,40.8122616 78.1886607,29.9587364 83.4609375,41.4589844 C88.7332143,52.9592324 97.1894531,44.7636719 115.212891,63.5664063 C133.236328,82.3691406 134.08192,118.003326 150.335937,107.443359 C160.956114,100.543606 147.105469,67.8180731 147.105469,59.6269531 C147.105469,51.4358332 150.335937,50.4761048 150.335937,36.75 C150.335937,23.0238952 141.51226,20.5136872 134.339844,16.3580361 C121.441406,8.88476563 118.058594,20.7539063 101.646484,16.3580361 C85.234375,11.9621659 81.2636633,3.88820119 74.0722656,1.58203125 C62.3708902,-2.17041875 53.0722656,13.9726562 35.828125,7.77734375 C18.5839844,1.58203125 4.86421016,9.86755213 1.30664062,16.3580361 Z"
  );
}

.big-plants-box svg path {
  d: path(
    "M2.00390625,15.7363281 C-4.36914062,29.4964367 11.5390625,61.1035156 6.260363,72.1601563 C0.98166351,83.2167969 2.08007812,88.3909679 14.4492188,98.1780773 C26.8183594,107.965187 30.3925781,98.1780773 46.9765625,98.1780773 C63.5605469,98.1780773 54.8769531,94.7386242 84.0683594,103.726905 C113.259766,112.715187 121.921875,103.726905 133.519531,94 C147.605689,82.1859988 149.939577,75.7148438 146.564453,61.1035156 C143.18933,46.4921875 155.820312,43.2225415 155.820312,29.4964367 C155.820312,15.7703318 135.646484,23.609375 127.396484,9.73046875 C121.006468,-1.01940186 107.052734,15.7363281 87.7304688,15.7363281 C68.4082031,15.7363281 84.0683594,6.71196518 65.171875,3.38059239 C52.6693798,1.1764537 51.5058594,9.57590489 34.2617188,3.38059239 C17.0175781,-2.81472011 8.37695313,1.97621959 2.00390625,15.7363281 Z"
  );
}

.tiny-choirs-box {
  position: absolute;
  left: 48%;
  width: 32%;
  top: 28%;
  transition: 1.8s;
  cursor: pointer;
}

.little-choirs-box {
  position: absolute;
  left: 48%;
  width: 32%;
  top: 28%;
  transition: 1.8s;
  cursor: pointer;
}

.big-choirs-box {
  position: absolute;
  left: 48%;
  width: 32%;
  top: 28%;
  transition: 1.8s;
  cursor: pointer;
}

.tiny-choirs-box svg path {
  d: path(
    "M11.6911804,8.0939001 C0.766956994,9.44943502 -1.94065001,20.418135 3.56835937,41 C-1.49970886,53.4609375 8.83883281,59.6914062 34.5839844,59.6914062 C62.5664062,59.6914062 42.9704576,78.5009787 69.1687959,82.109375 C95.3671341,85.7177713 105.547101,87.3201624 109.966797,72.3769531 C114.266464,57.8395667 104.238507,63.1248499 99.6425781,51.7714844 C95.0466491,40.4181189 118.892578,37.1697718 115.419696,26.7792969 C111.946814,16.388822 111.565863,10.8478064 84.8357116,18.8028845 C79.2524374,20.4645056 70.5605978,15.6283335 69.1687959,14.9239782 C63.8972899,12.2562042 69.2319578,10.1171012 53.6922334,4.07241573 C34.0496553,-3.56820927 35.9782898,5.08022823 11.6911804,8.0939001 Z"
  );
}

.little-choirs-box svg path {
  d: path(
    "M17.3037874,1.36311697 C6.37956396,2.71865189 2.50456396,16.1926102 5.67878736,41.784992 C-4.57902514,57.8500961 2.04727694,69.6951482 25.5576936,77.3201482 C58.6821734,88.0632227 43.1464647,97.4597988 69.344803,101.068195 C95.5431412,104.676591 118.966192,114.139305 124.571365,91.909992 C128.260819,77.2781499 120.698319,73.8752302 110.600662,63.7322576 C100.503006,53.589285 97.4902383,62.2899125 89.7530061,58.5274878 C81.1533276,54.3456769 89.7530061,38.4939763 63.0228547,46.4490545 C57.4395805,48.1106755 55.2600424,47.1534097 53.8682405,46.4490545 C48.5967345,43.7812805 65.2419493,28.5484275 49.7022249,22.503742 C30.0596467,14.863117 41.5908967,-1.6505549 17.3037874,1.36311697 Z"
  );
}

.big-choirs-box svg path {
  d: path(
    "M11.8671875,7.75195313 C0.942964103,9.10748804 -0.954171314,20.893234 6.17578125,43.1091911 C-4.49869792,57.2212929 1.91927083,68.0898437 25.4296875,75.7148438 C58.5541673,86.4579183 43.1464647,83.3015956 69.344803,86.909992 C95.5431412,90.5183883 109.99053,97.9441564 115.595703,75.7148438 C119.285156,61.0830017 129.173828,62.7699258 119.076172,52.6269531 C108.978516,42.4839805 126.813404,28.1921122 119.076172,24.4296875 C110.476493,20.2478765 111.74187,10.5058594 85.0117188,18.4609375 C79.4284445,20.1225586 70.7366049,15.2863865 69.344803,14.5820312 C64.073297,11.9142573 69.4079649,9.77515424 53.8682405,3.73046875 C34.2256624,-3.91015625 36.1542969,4.73828125 11.8671875,7.75195313 Z"
  );
}
