
.blobBox{
  position:absolute;
  left:40%;
  top:10%;
  width: 10%;
  height: 10%;


}
.smallBlob {
  position:absolute;
  top:0%;
  width: 80%;
  height: 80%;
  background-color: red;
  z-index: 19;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
.smallBlob:before {
  content:'';
  position:absolute;
  left:10%;
  top:10%;
  width: 40px;
  height: 40px;
  background-color: red;
  z-index: 19;
  border-radius: 50% 50%


}

.tv {
  position: absolute;
  width: 200px;
  height: 150px;
  margin: 20px 0;
  background: red;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
.tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
