/* * {
  border: 3px solid coral;
} */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 66, 121);
  margin: 0px;
}

path {
  transition: d 1.8s;
  will-change: d;
}

.big-box {
  top: 20px;
  width: 500px;
  position: relative;
  margin: 0 auto;
  height: 600px;
  /* border: 3px solid coral; */
}

.tiny-ears-box {
  position: absolute;
  left: 30%;
  width: 10%;
  top: 44%;
  transition: 1.8s;
  cursor: pointer;
}

.little-ears-box {
  position: absolute;
  left: 14%;
  width: 40%;
  top: 50%;
  transition: 1.8s;
  cursor: pointer;
}

.big-ears-box {
  position: absolute;
  width: 50%;
  left: 18%;

  top: 40%;
  background: "";
  transition: 1.8s;
  cursor: pointer;
}

.tiny-ears-box svg path {
  d: path(
    "M143.252478,43.2508309 C131.288274,46.9761143 119.000275,46.498027 99.714611,42.8926482 C97.6533067,42.5072955 95.8718951,42.1609978 92.3752354,41.4716898 C79.0272978,38.840367 73.4480002,37.9060511 66.448508,37.3992433 C57.2169214,36.7308176 49.4080965,37.4912804 42.3574608,40.0231038 C25.6884176,46.0088155 13.286266,62.1070121 4.44447117,92.1256462 C-2.25497581,114.87083 0.108324304,133.176613 10.3590966,146.372775 C19.5934828,158.260509 35.0318889,165.598093 53.9961391,167.724305 C92.3454375,172.023906 136.04281,154.705813 155.265835,125.475268 C166.704121,108.082202 184.549949,97.0414737 210.494998,88.4846361 C215.574067,86.8095277 220.842623,85.2554592 227.360953,83.4679151 C229.811543,82.7958813 240.506503,79.9337666 243.247977,79.1758343 C261.862719,74.0294363 270.856338,70.0392499 275.266409,63.7873543 C280.562004,56.280102 277.808371,45.6667783 265.480786,29.8661577 C252.756235,13.5567334 241.369924,4.66861408 230.451077,1.88447776 C221.007764,-0.523420211 211.962617,1.51641981 201.361928,7.62945068 C197.986394,9.57599814 194.46636,11.9127631 190.180112,14.9957742 C187.6505,16.8152719 178.483752,23.6241669 178.609006,23.5320297 C164.420363,33.9692731 154.700321,39.6863264 143.252478,43.2508309 Z"
  );
}

.little-ears-box svg path {
  d: path(
    "M143.252478,43.2508309 C131.288274,46.9761143 119.000275,46.498027 99.714611,42.8926482 C97.6533067,42.5072955 95.8718951,42.1609978 92.3752354,41.4716898 C79.0272978,38.840367 73.4480002,37.9060511 66.448508,37.3992433 C57.2169214,36.7308176 49.4080965,37.4912804 42.3574608,40.0231038 C25.6884176,46.0088155 13.286266,62.1070121 4.44447117,92.1256462 C-2.25497581,114.87083 0.108324304,133.176613 10.3590966,146.372775 C19.5934828,158.260509 35.0318889,165.598093 53.9961391,167.724305 C92.3454375,172.023906 136.04281,154.705813 155.265835,125.475268 C166.704121,108.082202 184.549949,97.0414737 210.494998,88.4846361 C215.574067,86.8095277 220.842623,85.2554592 227.360953,83.4679151 C229.811543,82.7958813 240.506503,79.9337666 243.247977,79.1758343 C261.862719,74.0294363 270.856338,70.0392499 275.266409,63.7873543 C280.562004,56.280102 277.808371,45.6667783 265.480786,29.8661577 C252.756235,13.5567334 241.369924,4.66861408 230.451077,1.88447776 C221.007764,-0.523420211 211.962617,1.51641981 201.361928,7.62945068 C197.986394,9.57599814 194.46636,11.9127631 190.180112,14.9957742 C187.6505,16.8152719 178.483752,23.6241669 178.609006,23.5320297 C164.420363,33.9692731 154.700321,39.6863264 143.252478,43.2508309 Z"
  );
}

.big-ears-box svg path {
  d: path(
    "M142.201718,37.2637623 C116.944718,42.3059099 97.6600008,41.3672968 72.0103673,36.2646576 C70.4948039,35.9631573 63.3502412,34.5032059 61.4690765,34.1344661 C57.6798312,33.3917106 54.7707597,32.8928165 52.0893095,32.5492114 C45.638328,31.7225727 40.6527685,31.8527454 36.2114316,33.1321428 C26.1573197,36.0283888 18.4275126,45.2027498 10.8366125,64.2693528 C8.38483467,70.4276573 5.93712418,77.6628804 3.44447117,86.1256462 C-3.22153996,108.757312 4.66349827,128.343664 24.9501676,143.942804 C43.2092168,157.982835 70.9902148,168.233914 103.199875,173.438531 C168.850562,184.046737 235.589994,171.842106 254.62521,142.897143 C256.307888,140.338463 266.84409,124.42715 269.482678,120.378892 C274.336119,112.932494 277.725878,107.471117 280.468776,102.597163 C286.777886,91.3862829 289.667255,83.1184526 289.842532,75.0631704 C290.128753,61.9092137 283.429514,48.7786884 264.477036,23.8612898 C251.991054,7.44558998 243.984264,0.950323214 236.032652,0.54521044 C231.158948,0.296908635 226.365382,2.09228517 217.973601,6.84034183 C216.560703,7.63975749 208.502148,12.3364134 205.892986,13.8077092 C200.51235,16.8418275 195.577384,19.4140917 190.280502,21.874755 C176.112062,28.4566943 160.619863,33.5868802 142.201718,37.2637623 Z"
  );
}

.tiny-music-box {
  left: 63%;
  top: 55%;
  width: 10%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.little-music-box {
  left: 44%;
  top: 66%;
  width: 27%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.big-music-box {
  left: 55%;
  top: 43%;
  width: 30%;
  position: absolute;
  background: "";
  transition: 1.8s;
  cursor: pointer;
}

.tiny-music-box svg path {
  d: path(
    "M55.7570069,10.8707085 C28.0183497,8.93103262 8.25821111,43.7908243 2.41548553,67.8863355 C-4.01569504,94.4086462 12.1233835,119.154569 23.2641088,125.036015 C46.9012046,137.514582 49.9634268,162.668986 114.038309,156.541052 C169.476784,151.239079 168.393015,167.633671 202.088328,133.286015 C214.267892,120.870653 238.432362,81.2848902 215.95542,56.7393498 C193.478478,32.1938094 193.609534,15.2788026 143.008505,4.48839332 C92.4074755,-6.30201595 114.028043,14.9454163 55.7570069,10.8707085 Z"
  );
}

.little-music-box svg path {
  d: path(
    "M56.1513038,3.13606988 C28.4126466,5.07574575 8.65250807,29.784046 2.80978249,53.8795571 C-3.62139808,80.4018679 9.66876829,111.029236 23.6584057,111.029236 C50.3576245,111.029236 75.9436123,169.351796 115.091154,134.012578 C160.74101,92.8035997 168.787312,153.626893 202.482624,119.279236 C214.662189,106.863875 238.826659,67.2781119 216.349717,42.7325715 C193.872775,18.1870311 181.427147,54.7946287 130.826118,44.0042194 C80.2250882,33.2138102 114.42234,0.938637925 56.1513038,3.13606988 Z"
  );
}

.big-music-box svg path {
  d: path(
    "M55.7570069,10.8707085 C28.0183497,8.93103262 8.25821111,43.7908243 2.41548553,67.8863355 C-4.01569504,94.4086462 12.1233835,119.154569 23.2641088,125.036015 C46.9012046,137.514582 49.9634268,162.668986 114.038309,156.541052 C169.476784,151.239079 168.393015,167.633671 202.088328,133.286015 C214.267892,120.870653 238.432362,81.2848902 215.95542,56.7393498 C193.478478,32.1938094 193.609534,15.2788026 143.008505,4.48839332 C92.4074755,-6.30201595 114.028043,14.9454163 55.7570069,10.8707085 Z"
  );
}

.tiny-councils-box {
  left: 26%;
  top: 32%;
  width: 10%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}
.little-councils-box {
  left: 4%;
  top: 30%;
  width: 45%;
  position: absolute;
  transition: 1.8s;
  cursor: pointer;
}

.big-councils-box {
  left: 26%;
  top: 30%;
  width: 40%;
  position: absolute;
  background: "";
  transition: 1.8s;
  cursor: pointer;
}

.tiny-councils-box svg path {
  d: path(
    "M19.4707031,17.1464844 C0.072265625,32.3925781 -8.359375,53.8496094 12.9511719,53.8496094 C37.945345,53.8496094 45.6820342,36.0651167 57.3710938,45.3203125 C86.0165403,68.001283 137.025391,20.5820312 134.267578,10.3046875 C130.787003,-2.66612444 89.7941287,-3.27110158 71.3066406,14.0703125 C65.5410156,19.4785156 38.8691406,1.90039063 19.4707031,17.1464844 Z"
  );
}

.little-councils-box svg path {
  d: path(
    "M22.5605469,39.4824219 C-0.794264385,65.0382662 -7.87890625,98.8925781 13.4316406,98.8925781 C38.4258138,98.8925781 65.0960967,59.7116011 76.7851562,68.9667969 C106.398413,92.4140625 184.748047,22.3632813 169.962891,4.76367188 C159.540421,-7.64278408 109.794129,14.7288984 91.3066406,32.0703125 C85.5410156,37.4785156 52.3828125,6.84960938 22.5605469,39.4824219 Z"
  );
}

.big-councils-box svg path {
  d: path(
    "M22.0371094,15.0957031 C5.09512169,25.0481227 -10.4535591,60.703125 10.8569878,60.703125 C35.8511609,60.703125 49.4746908,53.4062335 65.9731862,60.703125 C108.822266,79.6542521 123.886719,52.2441406 127.392578,39.5090382 C136.048931,8.06466637 104.704346,13.5326658 96.2476128,6.06295038 C85.6289062,-3.31640625 46.484375,0.734375 22.0371094,15.0957031 Z"
  );
}

/* .littlebox:hover svg path {
    d: path(
      "M144.050971,75.0806425 C202.800378,93.4396974 232.496706,-34.8069218 297.043479,10.9186778 C361.590251,56.6442773 365.118556,147.090741 302.390437,192.474845 C239.662317,237.858948 81.9792071,237.709844 18.1249716,192.474845 C-45.729264,147.239846 85.301564,56.7215876 144.050971,75.0806425 Z"
    );
  }
  
  .littlebox:hover {
    width: 500px;
    transition: 1s;
  } */
