.tiny-butts-box {
  position: absolute;
  left: 25%;
  width: 10%;

  top: 63%;

  transition: 1.8s;
  cursor: pointer;
}
.little-butts-box {
  position: absolute;
  left: 5%;
  width: 36%;
  top: 72%;
  transition: 1.8s;
  cursor: pointer;
}

.big-butts-box {
  position: absolute;
  width: 50%;
  left: 20%;

  top: 70%;
  background: "";
  transition: 1.8s;
  cursor: pointer;
}

.tiny-butts-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}

.little-butts-box svg path {
  d: path(
    "M30.5851863,2.18477786 C10.9553049,-5.57687345 -16.2768257,24.7763658 15.5791687,52.6525177 C47.4351631,80.5286696 71.2208542,106.324015 118.326592,100.048929 C165.432329,93.7738439 194,45.5983262 194,28.8845863 C194,12.1708463 165.691148,2.18477786 150.558656,2.18477786 C135.426164,2.18477786 141.137725,23.2956773 127.72079,28.8845863 C114.303854,34.4734953 115.374212,6.17678366 82.7946397,28.8845863 C50.2150677,51.5923889 50.2150677,9.94642918 30.5851863,2.18477786 Z"
  );
}

.big-butts-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}

.tiny-plants-box {
  position: absolute;
  left: 58%;
  width: 21%;
  top: 23%;
  transition: 1.8s;
  cursor: pointer;
}

.little-plants-box {
  position: absolute;
  left: 44%;
  width: 57%;
  top: 10%;
  transition: 1.8s;
  cursor: pointer;
}

.big-plants-box {
  position: absolute;
  width: 42%;
  left: 57%;
  top: 26%;
  background: "";
  transition: 1.8s;
  cursor: pointer;
}

.tiny-plants-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}

.little-plants-box svg path {
  d: path(
    "M1.30664062,18.3580361 C-5.7421875,31.2180253 46.296875,19.9863281 83.4609375,43.4589844 C88.5318754,46.6617662 92.03125,41.640625 110.054688,60.4433594 C128.078125,79.2460938 134.08192,120.003326 150.335938,109.443359 C166.633789,98.8549142 160.27194,33.3829234 134.339844,18.3580361 C121.441406,10.8847656 118.058594,22.7539062 101.646484,18.3580361 C85.234375,13.9621659 81.2636633,5.88820119 74.0722656,3.58203125 C50.4472656,-3.99414062 8.35546875,5.49804687 1.30664062,18.3580361 Z"
  );
}

.big-plants-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}

.tiny-choirs-box {
  position: absolute;
  left: 58%;
  width: 21%;
  top: 23%;
  transition: 1.8s;
  cursor: pointer;
}

.little-choirs-box {
  position: absolute;
  left: 49%;
  width: 57%;
  top: 22%;
  transition: 1.8s;
  cursor: pointer;
}

.big-choirs-box {
  position: absolute;
  width: 42%;
  left: 57%;
  top: 26%;
  background: "";
  transition: 1.8s;
  cursor: pointer;
}

.tiny-choirs-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}

.little-choirs-box svg path {
  d: path(
    "M21.1796875,5.4296875 C-2.27148438,24.5898438 -8.29622159,56.5105095 21.1796875,72.2871094 C50.6555966,88.0637093 49.2312138,98.1065978 72.1102385,101.257812 C94.9892633,104.409027 131.510737,89.3067851 113.25,72.2871094 C94.9892633,55.2674336 86.5870303,55.2674336 62.5070203,51.9132953 C45.9388471,49.6054913 53.2682357,17.8113105 45.8496094,5.4296875 C42.4860816,-0.184011155 28.4953562,-0.54738505 21.1796875,5.4296875 Z"
  );
}

.big-choirs-box svg path {
  d: path(
    "M16.5851863,8.18477786 C-3.0446951,0.423126545 -2.0226863,79.7441406 10.2128906,94.6875 C22.4484675,109.630859 89.4529185,111.025085 136.558656,104.75 C183.664394,98.4749147 180,51.5983262 180,34.8845863 C180,18.1708463 151.691148,8.18477786 136.558656,8.18477786 C121.426164,8.18477786 126.197266,1.30273438 112.845703,1.30273438 C99.4941406,1.30273438 95.0075886,10.0332031 65.6113281,5.66796875 C36.2150677,1.30273438 36.2150677,15.9464292 16.5851863,8.18477786 Z"
  );
}
